body {
  margin: 0;
}
header {
  height: 90px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-links {
  font-family: "Roboto";
  font-weight: bold;
  letter-spacing: 1.05px;
  color: #444444;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}
.header-links:hover {
  color: black;
}
.links-conteyner {
  width: 531px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  width: 15px;
  height: 15px;
}
#main {
  height: 650px;
  background: url("./assets/shutterstock_353200073.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  width: 700px;
  height: 56px;
  background-color: #000000;
  color: #ffffff;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  color: #000000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 7.2px;
  margin-top: 38px;
}
.text1 {
  width: 1140px;
  height: 56px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px;
}
.link2 {
  color: #777777;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 30px;
  transition: all 0.1s linear;
  position: relative;
}
.link2:hover {
  color: black;
  font-size: 16px;
}
.link2:after {
  content: "";
  height: 40px;
  width: 1px;
  background: grey;
  position: absolute;
  right: -30px;
  top: -8px;
  transform: rotate(25deg);
}
